@using COMP2007_S2016_Lesson10B.Models
@model Album

@{
    ViewBag.Title = "Details";
}

<h2>Album: @Model.Title</h2>

<ul>
    <li>Album Artist: @Model.Artist.Name</li>
    <li>Album Genre: @Model.Genre.Name</li>
    <li>Album Price: @Model.Price</li>
    <li>
        <img src="@Model.AlbumArtUrl" alt="@Model.Title" />
    </li>
</ul>